/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 100px 0;
  font-family: "Inter", Arial, Verdana, Tahoma, sans-serif;
  font-size: var(--main-text-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--regular-font-weight);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font-family), sans-serif;
  }
}

.button {
  position: relative;
  margin: 0;
  border: none;
  padding: 0;
  overflow: hidden;
  color: var(--accent-color);
  font-family: var(--accent-font-family), Arial, Helvetica, sans-serif;
  font-size: var(--main-text-size);
  background-color: var(--bg-color);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  -webkit-box-shadow: 2px 2px 0 0 var(--main-color);
  -moz-box-shadow: 2px 2px 0 0 var(--main-color);
  box-shadow: 2px 2px 0 0 var(--main-color);
  outline: none;
}

.button:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: translate 0.5s ease-in-out;
  transform-origin: left;
  translate: -100%;
}

.button:hover:before {
  translate: 0%;
}

.button__text {
  align-self: center;
  line-height: 90%;
  text-align: center;
  white-space: nowrap;
  mix-blend-mode: difference;
}

.bordered {
  border: var(--border-width) solid var(--main-color);
}

.uppercase {
  text-transform: uppercase;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem)
    clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem);
  font-family: var(--accent-font-family), Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  inline-size: var(--sections-width);
}

.header__title {
  margin-block-end: 20px;
  font-weight: normal;
  font-size: var(--title-size);
}

.header__description {
  font-size: var(--description-size);
}

/* Cards */

.grey {
  filter: grayscale(0.5);
}

.blur {
  filter: blur(5px) grayscale(1);
}

.bright {
  filter: brightness(2);
}

.contrast {
  filter: contrast(0.4);
}

.hue {
  filter: hue-rotate(80deg);
}

.invert {
  filter: invert(0.7);
}

.saturate {
  filter: saturate(5);
}

.section__cards {
  display: grid;
  justify-items: center;
}

.section__cards-list {
  display: grid;
  justify-items: center;
  gap: var(--section-gap);
  margin-block-end: 50px;
  inline-size: var(--sections-width);
}

.card {
  font-size: var(--card-size);
  background-color: var(--bg-color);
}

.card__title {
  border-block-end: var(--border-width) solid var(--main-color);
  padding: 5px 10px;
  font-size: inherit;
  font-variation-settings: "wght" var(--bold-font-weight);
}

.card__picture {
  position: relative;
  border-block-end: var(--border-width) solid var(--main-color);
  line-height: 0;
  background-color: var(--bg-color);
}

.card__picture_image-tag {
  position: absolute;
  color: color-mix(in srgb, var(--main-color) 50%, transparent);
  font-family: var(--accent-font-family), Arial, Helvetica, sans-serif;
  font-size: var(--main-text-size);
  text-shadow: -1px 0 color-mix(in srgb, var(--accent-color) 50%, transparent),
    0 1px color-mix(in srgb, var(--accent-color) 50%, transparent),
    1px 0 color-mix(in srgb, var(--accent-color) 50%, transparent),
    0 -1px color-mix(in srgb, var(--accent-color) 50%, transparent);
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: clamp(1.875rem, 1.831rem + 0.1878vw, 2rem);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px #000000) or
    (
      -webkit-text-stroke: 1px color-mix(in srgb, var(--accent-color) 50%, transparent)
    )
) {
  .card__picture_image-tag {
    text-shadow: none;
    -webkit-text-stroke: 1px
      color-mix(in srgb, var(--accent-color) 50%, transparent);
    text-stroke: 1px color-mix(in srgb, var(--accent-color) 50%, transparent);
  }
}

.card__picture_image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.card__footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__description__text:not(:last-child) {
  padding-block-end: 27px;
}

.card__footer__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.card__like-button {
  padding: 10px 35px;
}

.card__icon-button {
  border: none;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  transition: outline 0.3s ease;
  cursor: pointer;
  max-block-size: 38px;
}

.card__icon-button svg:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  outline-offset: -1px;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s 0.03s ease-in-out;
}

.card__icon-button:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s ease-in-out;
}

.card__icon-button:active .core {
  fill: var(--like-accent-color);
  transition: fill 0.3s ease-in-out;
}

.like-icon.is-liked .core {
  fill: var(--like-accent-color);
  transition: fill 0.3s ease-in-out;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s ease-in-out;
}

.card__icon-button:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s ease-in-out;
}

.card__icon-button:active .main-body {
  fill: var(--like-accent-color);
  transition: fill 0.3s 0.05s ease-in-out;
}

.like-icon.is-liked .main-body {
  fill: var(--like-accent-color);
  transition: fill 0.3s 0.05s ease-in-out;
}

.like-icon .contour {
  fill: var(--main-color);
  transition: fill 0.3s 0.06s ease-in-out;
}

.like-icon.is-liked .contour {
  fill: var(--like-accent-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: fill 0.3s ease-in 0.3s;
}

@keyframes scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

@keyframes fill {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button-save {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 15px 20px;
  line-height: 0;
  inline-size: clamp(19.375rem, 18.7368rem + 2.723vw, 21.1875rem);
}

.button-save__icon {
  position: relative;
  z-index: 2;
  inline-size: 21px;
  block-size: 21px;
}

.button-save .button-save__icon {
  mix-blend-mode: difference;
}

.dialog[open] {
  position: fixed;
  inset: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  padding-block: 25px;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.dialog .button-save__icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__description {
  font-family: var(--accent-font-family), Arial, Helvetica, sans-serif;
  line-height: 150%;
  inline-size: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
}

.dialog__button {
  grid-row: 2 / 3;
  padding-block: 12.5px;
  inline-size: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
}

@media (width <= 375px) {
  .button-save__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
