/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-image);
  font-family: 'Inter', Arial, Verdana, Tahoma, sans-serif;
  font-size: var(--main-text-size);
  font-variation-settings: 'wght' var(--regular-font-weight);
  background-color: var(--bg-color);
  padding: 100px 0;
  gap: 100px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font-family), sans-serif;
  }
}

.button {
  color: var(--accent-color);
  background-color: var(--bg-color);
  cursor: pointer;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  font-family: var(--accent-font-family), Arial, Helvetica, sans-serif;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  -webkit-box-shadow: 2px 2px 0 0 var(--main-color);
  -moz-box-shadow: 2px 2px 0 0 var(--main-color);
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.button:before {
  content: '';
  position: absolute;
  inset: 0;
  transform-origin: left;
  background-color: var(--main-color);
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.button:hover:before {
  translate: 0%;
}

.button__text {
  white-space: nowrap;
  line-height: 90%;
  mix-blend-mode: difference;
  text-align: center;
  align-self: center;
}

.bordered {
  border: var(--border-width) solid var(--main-color);
}

.uppercase {
  text-transform: uppercase;
}

/* Header */

.header {
  background-color: var(--bg-color);
  inline-size: var(--sections-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font-family), Arial, Helvetica, sans-serif;
  padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem) clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem);
}

.header__title {
  font-size: var(--title-size);
  font-weight: normal;
  margin-block-end: 20px;
}

.header__description {
  font-size: var(--description-size);
}



/* Cards */

.grey {
  filter: grayscale(0.5);
}

.blur {
  filter: blur(5px) grayscale(1);
}

.bright {
  filter: brightness(2);
}

.contrast {
  filter: contrast(0.4)
}

.hue {
  filter: hue-rotate(80deg);
}

.invert {
  filter: invert(0.7);
}

.saturate {
  filter: saturate(5);
}

.section__cards {
  display: grid;
  justify-items: center;
}

.section__cards-list {
  display: grid;
  justify-items: center;
  gap: var(--section-gap);
  inline-size: var(--sections-width);
  margin-block-end: 50px;
}

.card {
  background-color: var(--bg-color);
}

.card__title {
  font-size: var(--card-heading-size);
  padding: 3px 10px;
  font-variation-settings: 'wght' var(--bold-font-weight);
  border-block-end: var(--border-width) solid var(--main-color);
}

.card__picture {
  position: relative;
  line-height: 0;
  background-color: var(--bg-color);
  border-block-end: var(--border-width) solid var(--main-color);
}

.card__picture_image-tag {
  position: absolute;
  inset-inline-end: clamp(0.813rem, 1.127vw + 0.548rem, 1.563rem);
  inset-block-start: 25px;
  font-family: var(--accent-font-family), Arial, Helvetica, sans-serif;
  text-shadow:
  -1px 0 color-mix(in srgb, var(--accent-color) 50%, transparent), 
  0 1px color-mix(in srgb, var(--accent-color) 50%, transparent), 
  1px 0 color-mix(in srgb, var(--accent-color) 50%, transparent), 
  0 -1px color-mix(in srgb, var(--accent-color) 50%, transparent);
  color: color-mix(in srgb, var(--main-color) 50%, transparent);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px color-mix(in srgb, var(--accent-color) 50%, transparent))) {
  .card__picture_image-tag {
    -webkit-text-stroke: 1px color-mix(in srgb, var(--accent-color) 50%, transparent);
    text-stroke: 1px color-mix(in srgb, var(--accent-color) 50%, transparent);
    text-shadow: none;
  }
}

.card__picture_image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__footer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__description__text:not(:last-child) {
  padding-block-end: 27px;
}

.card__footer__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.card__icon-button {
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__icon-button svg:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
}

.card__like-button {
  padding: 10.5px 35px;
}

.button-save {
  background-color: var(--accent-color);
  display: flex;
  flex-wrap: wrap;
  inline-size: clamp(18.875rem, 17.7967rem + 4.6009vw, 21.9375rem);
  justify-content: center;
  gap: 8px;
  line-height: 0;
  padding: 15px 20px;
}

.button-save .button-save__icon {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  mix-blend-mode: difference;
}

.dialog[open] {
  position: fixed;
  inset: 0;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding-block: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 20px;
  justify-content: center;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
} 

.dialog .button-save__icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__description {
  line-height: 150%;
  width: clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
  font-family: var(--accent-font-family), Arial, Helvetica, sans-serif;
}

.dialog__button {
  grid-row: 2 / 3;
  inline-size: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
  padding-block: 12.5px;
}

@media (width <= 375px) {
  .button-save__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}