/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font-family: 'Inter-Variable';
    --accent-font-family: 'Press Start 2P';

    --main-text-size: 14px;
    --title-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
    --description-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
    --card-heading-size: 18px;

    --regular-font-weight: 400;
    --bold-font-weight: 700;

    --bg-color: #fff;
    --accent-color: #fff;
    --main-color: #000;

    --section-gap: 50px;

    --border-width: 2px;

    --sections-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  }